<!DOCTYPE html>
<html>

<head>
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Email Spam Classifier</h1>
        <form method="post">
            <textarea name="content" placeholder="Enter your Email Body" autocomplete="off">{{ email|default('') }}</textarea>
            <div>
                <button type="submit">Check</button>
                <a href="/" class="reset">Reset</a>
            </div>
        </form>

        {% if predictions is defined %}
            {% if predictions == 1 %}
                <div class="result-box success">SPAM</div>
            {% elif predictions == -1 %}
                <div class="result-box error">IT'S NOT A SPAM</div>
            {% endif %}
        {% endif %}
    </div>
</body>

</html>
